*{
  font-family:sans-serif
}
body {
margin: 0; overflow: hidden; }
canvas { display: block; }
#info {
position: absolute;
top: 5vh;
width: 100vw;
text-align: center;
color: #fff;

font-size: 3rem;
z-index: 2;
}
 .skin-selector {
position: fixed;
top:0%;
right:0%;
margin: 10px;
z-index: 2;
}
.skin-selector select{
  user-select: none;
  border: none;
  background:#000;
  color:#fff;
  padding: 10px;
  border-radius: 30px;
}
.controls {
bottom: 20px;
width: 100%;
text-align: center;
position: fixed;
visibility: hidden;
}
.restart {
position: fixed;
width: 100vw;
height:100vh;
background:radial-gradient(rgba(0,0,0,0.8,),rgba(0,0,0,0.5)) ;
visibility: hidden;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
flex-direction: column;
}
.restart h1{
  color: white;
}
.restart .btn{
  background-color: transparent;
  font-size: 15vw;
  color: #000;
  font-weight: 900;
  border: none;
  background: rgb(255, 0, 0);
  padding:10px;
  border-radius: 10px;
  user-select: none;

}
.restart .btn:hover{
  cursor: pointer;
}

.btn {

user-select: none;
}
@media (max-width: 1200px) {
      .controls { visibility: visible; }
    }